* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    text-align: center ;
    margin: 5px;
    font-weight: 900; 
}

body {
    
    background-color: #ebebeb;
}
input{
    margin: 20px;
    border: 1px;
    text-align: center;
    font-size: 15px;
    border-radius: 5%;
    padding: 5px;
    
    
}

